.top-menu {
    padding: 0 1em;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.logoName {
    font-family: 'URW Impact W01 Regular', 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
    font-size: 70px;
    margin-left: 1rem;
    display: inline-block;
    margin-right: 1em;
}

.navItem {
    padding: 4px 12px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 576px) {
    .logoName {
        font-size: 36px;
    }
    .navTop {
        align-items: flex-start;
    }
}