.top-menu {
    padding: 0 1em;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.logoName {
    font-family: 'URW Impact W01 Regular', 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
    font-size: 70px;
    margin-left: 1rem;
}

.navItem {
    padding: 4px 12px;
}