.top-menu {
    padding: 0 1em;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding: 1rem;
}

.logoName {
    font-size: 24px;
    margin-left: 1rem;
}

.navItem {
    padding: 4px 12px;
}