@import '../styles/variables';
// @import '../styles/global.scss';

.HomePage {
  display: flex;
  justify-content: center;
}

.homecopy {
  margin-top: 1em;
}

.layout {
  display: flex;
  flex-direction: column;
}